__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.idea/
.vscode/
.venv/
.venv_intel/
.venv_windows/
venv/
build/
app/mac/*
!app/mac/README.md
app/mac_intel/*
!app/mac_intel/README.md
app/windows/*
!app/windows/README.md
release/*
!release/README.md
!release/mac/
release/mac/*
!release/mac/README.md
!release/mac/apple_silicon/
!release/mac/intel/
release/mac/apple_silicon/*
!release/mac/apple_silicon/README.md
release/mac/intel/*
!release/mac/intel/README.md
source/config/user_settings.json
